@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

:root{ 
    --pcolor1:#3d405b;
    --pcolor2:#8d99ae;
    --pcolor3:#edf2f4;
    --pcolor4:#f7d59e;
    --pcolor5:#f1ddbd;
    --pcolor6:#5d607b;
    margin: 50px 0 0 0;
}

*{
    font-family: 'Rufina', serif;
    font-size: 18px;
}

body{
    margin:0;
    background-color: white;
    width: 100%;
    padding: 0;
    color: #444444;
    overflow-x: hidden;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

@media (max-width: 1000px){
    body{background-size: 500px 150px;}

    *{font-size: 2.5vw;}

    :root{margin: 12vw 0 0 0;}
}