h1{
    display: block;
    text-align: center;
    padding-top: 150px;
}

p{
    display: block;
    text-align: center;
    margin: auto;
}

#footer-space{
    height: 60px;
}

@media (max-width: 1000px){
    #confirm-info{
        margin-top: 20vh;
        margin-bottom: 20vh;
    }
}