#header{
    background-color:var(--pcolor1); 
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    z-index: 10;
}

#header #logo{
    position: relative;
    width: 60px;
    height: 60px;
    padding: 5px 8px 5px 5px;
    border-right: 5px solid var(--pcolor1);
    border-bottom: 5px solid var(--pcolor1);
    border-radius: 0 0 15% 0;
    background-color: var(--pcolor2);
}

#header navbar{
    align-self: center;
    margin-left: 20px;
}

#header navbar a{
    margin: 30px;
    text-decoration: none;
    color: #444444;
    font-size: 100%;
    align-self: center;
    color: var(--pcolor3);
    border: 7px solid var(--pcolor6);
    background-color: var(--pcolor6);
    border-radius: 20px;
    transition-duration: 0.2s;
}

#header navbar a:hover{
    background-color: var(--pcolor3);
    color: #444444;
    border-color: var(--pcolor3);
}

#header #menu, #header #checkmenu{
    display: none;
}

#footer{
    display: grid;
    margin: 200px 0 0 0;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    background-color: #CCC;
    height: 150px;
    font-size: 80%;
    color: black;
    position: relative;
    z-index: 3;
}

#footer #copyright{
    grid-row: 1/2;
    grid-column: 1/2;
    margin: auto;
    top: 20px;
}

#footer #socials{
    margin: auto;
    grid-row: 1/2;
    grid-column: 2/3;
}

#footer #socials img{
    width: 50px;
    height: 50px;
    margin: 10px;
}

#footer #politics{
    text-align: center;
    grid-row: 2/3;
    grid-column: 2/3;
}

@media (max-width: 1000px){
    #header{
        height: 10vw;
    }

    #header #logo{
        width: 8vw;
        height: 8vw;
        padding: 0.6vw 1.1vw 0.6vw 0.6vw;
        border-right: 0.8vw solid var(--pcolor1);
        border-bottom: 0.8vw solid var(--pcolor1);
    }

    #header navbar{
        align-self: center;
        margin-left: 2vw;
    }

    #header #menu{
        display: block;
        width: 6vw;
        height: 6vw;
        position: absolute;
        top: 2vw;
        right: 5.5vw;
    }

    #header #checkmenu{
        width: 10vw;
        height: 10vw;
        display: block;
        opacity: 0;
        position: absolute;
        top: 0vw;
        right: 3vw;
        z-index: 2;
    }

    #header #checkmenu:checked{
        width: 10vw;
        height: 10vw;
        position: absolute;
        top: 0vw;
        right: 3vw;
    }

    #header navbar a{
        display: none;
        margin: 0 2vw 0 2vw;
        border: 0.2vw solid var(--pcolor6);
        border-radius: 1vw;
    }

    #header #checkmenu:checked ~ navbar{
        position: absolute;
        top: 10vw;
        right: 0vw;
        background-color: var(--pcolor2);
        width: 50vw;
        height: 40vh;
    }

    #header #checkmenu:checked ~ navbar a{
        font-size: 3vh;
        display: block;
        margin: 5vh 1vw 1vh 1vw;
        text-align: center;
    }

    #footer{
        margin: 10vw 0 0 0;
        height: 30vw;
    }
    
    #footer #copyright{
        top: 10vw;
        margin-left: 2.5vw;
    }
    
    
    #footer #socials img{
        width: 10vw;
        height: 10vw;
        margin: 2vw;
    }
}