#about-index{
    background-color: var(--pcolor3);
    display: flex;
    flex-direction: column;
    width: 100%;
}

#about-index h1{
    text-align: center;
    font-size: 200%;
    margin: -50px 0 0 0;
    padding-top: 10px;
    font-family: 'Dancing Script', cursive;
    background-color: var(--pcolor3);
    position: relative;
    top: 2px;
}

#about-index .line {
    display: block;
    margin: 1px auto 2px auto;
    padding: 0;
    width: 30%;
    height: 1px;
    background-color: #444;
    padding: 0;
    position: relative;
    z-index: 2;
  }

#about-index p{
    align-self: center;
    margin: 0px 100px 0 100px;
    padding: 10px;
    font-size: 100%;
    font-family: 'Playfair Display', serif;
}

#about-index #logo{
    position: absolute;
    top: 5px;
    left: 20px;
    width: 90px;
    height: 90px;
    z-index: 2;
}

#slideshow{
    text-align: center;
    width: 100%;
    height: 40vw;
    margin: 0px 0 50px 0;
    padding: 1px 1px 1px 1px;
    border-bottom: 10px solid var(--pcolor6);
    background-color: black;
    position: relative;
    overflow: hidden;
}

.slideshow-image{
    width: 80%;
    margin: auto;
    opacity: 1;
    object-fit:fill;
}

.products-title{
    text-align: center;
    font-weight: normal;
    margin: 0;
    font-size: 150%;
    padding: 10px;
    color: var(--pcolor3);
    text-shadow: 2px 2px 5px black;
}

.product-item{
    background-color: var(--pcolor1);
    border: 5px solid var(--pcolor1);
    margin: 25px;
    width: 200px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 20px 0 black;
    display: flex;
    flex-direction: column;
    transition-duration: 0.15s;
    position: relative;
}

.product-item a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.product-item img{
    width: 190px;
    height: 150px;
    border-radius: 10px;
    margin: 0 0 10px 0;
    transition-duration: 0.15s;
}

.product-name{
    display: block;
    width: 100%;
    text-align: center;
    margin: auto 0 auto 0;
    padding: 5px 0 5px 0;
    font-size: 100%;
    color: var(--pcolor3);
    align-self: center;
}

.price{
    display: block;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin: auto 0 0 0;
}

.products-more-button{
    font-size: 120%;
    display: block;
    text-align: center;
    width: 80%;
    padding: 3px;
    margin: 0px auto 0px auto;
    border: 2px solid var(--pcolor4);
    background-color: var(--pcolor4);
    transition-duration: 0.2s; 
}

.products-more-button a{
    text-decoration: none;
    color: #444444;
}

.products-more-button:hover{
    background-color: var(--pcolor5);
}

.products-list{
    background-color: var(--pcolor2);
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 5fr));
    margin: 0;
    padding: 20px 0 20px 0;
}

#liquidated-products{
    background-color: var(--pcolor1);
    margin: 40px 20px 0px 20px;
    padding: 0px;
}

#featured-products{
    background-color: var(--pcolor1);
    margin: 40px 20px 0px 20px;
    padding: 0px;
}

@media (max-width: 1000px){

    #about-index{
        background-color: var(--pcolor3);
        height: 5vw;
    }

    #about-index #logo{
        display: none;
    }
    
    #about-index h1{
        margin: -12vw 0 0 0;
        padding-top: 1vw;
        background-color: var(--pcolor3);
        top: 0.5vw
    }

    #about-index .line {
        display: block;
        margin: 0 auto 0.5vw auto;
        padding: 0;
        width: 30%;
        height: 0.1vw;
        background-color: #444;
        padding: 0;
        position: relative;
        z-index: 2;
      }
    
    #about-index p{
        margin: 0;
        padding: 0vw 0vw 3vw 0vw;
        width: 100%;
        text-align: center;
        background-color: var(--pcolor3);
    }

    #slideshow{
        width: 100%;
        height: 40vw;
        margin: 0 0 5vw 0;
        padding: 0.2vw 0.2vw 0.2vw 0.2vw;
        border-top: 1vw solid var(--pcolor6);
        border-bottom: 1vw solid var(--pcolor6);
    }

    .products-title{
        padding: 1vw;
        text-shadow: 0.2vw 0.2vw 0.5vw black;
    }
    
    .product-item{
        border: 0.6vw solid var(--pcolor1);
        margin: 1vw;
        width: 25vw;
        border-radius: 1vw 1vw 0 0;
        box-shadow: 0vw 0vw 1.5vw 0 black;
    }
    
    .product-item img{
        width: 25vw;
        height: 18vw;
        border-radius: 1vw;
        margin: 0 0 1vw 0;
    }
    
    .product-name{
        padding: 1vw 0 1vw 0;
    }
    
    .price{
        padding: 1vw;
        border-radius: 1vw;
    }
    
    .products-more-button{
        font-size: 120%;
        display: block;
        text-align: center;
        width: 80%;
        padding: 0.3vw;
        margin: 0.5vw auto 0.2vw auto;
        background-color: var(--pcolor4);
        transition-duration: 0.2s; 
    }
    
    .products-list{
        grid-template-columns: repeat(auto-fit, minmax(25vw, 5fr));
        padding: 2vw 0 2vw 0;
    }

    #liquidated-products{
        background-color: var(--pcolor1);
        margin: 4vw 2vw 0px 2vw;
        padding: 0px;
        border: 1vw solid var(--pcolor1);
    }
    
    #featured-products{
        background-color: var(--pcolor1);
        margin: 4vw 2vw 0px 2vw;
        padding: 0px;
        border: 1vw solid var(--pcolor1);
    }
}




