#about{
    background-color: var(--pcolor3);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 20px 0 gray;
    width: 100%;
}

#about h1{
    text-align: center;
    font-size: 400%;
    margin: 50px 0 0 0;
    padding: 10px;
    font-family: 'Dancing Script', cursive;
    background-color: var(--pcolor3);
}

#about hr {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 80%;
    background-color: transparent;
    border-style: inset;
    border-width: 2px;
    height: 0px;
    color: var(--pcolor1);
  }

#about p{
    align-self: center;
    margin: 0px 100px 0 100px;
    padding: 20px;
    border-radius: 25px;
}

#slideshow{
    text-align: center;
    width: 100%;
    height: 400px;
    margin: 50px 0 50px 0;
    padding: 1px 1px 1px 1px;
    border-top: 10px solid var(--pcolor6);
    border-bottom: 10px solid var(--pcolor6);
    background-color: #444444;
    position: relative;
    overflow: hidden;
}

.slideshow-image{
    width: 100%;
    height: 150%;
    margin: auto;
    opacity: 1;
}

#sbutton1{
    position: absolute;
    left: 42%;
    bottom: 5%;
    width: 50px;
    height: 50px;
    z-index:2;
    opacity: 0;
    cursor: pointer;
}

#sbutton2{
    position: absolute;
    left: 47%;
    bottom: 5%;
    width: 50px;
    height: 50px;
    z-index:2;
    opacity: 0;
    cursor: pointer;
}

#sbutton3{
    position: absolute;
    left: 52%;
    bottom: 5%;
    width: 50px;
    height: 50px;
    z-index:2;
    opacity: 0;
    cursor: pointer;
}

.sbutton1-style, .sbutton2-style, .sbutton3-style{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    bottom: 8.4%;
    border-radius: 50%;
    transition-duration: 0.2s;
    border: 1px solid gray;
}

.sbutton1-style{left:43.4%;}
.sbutton2-style{left:48.4%;}
.sbutton3-style{left:53.4%;}

#simage1{display: none;}
#simage2{display: none;}
#simage3{display: none;}

#sbutton1:checked ~ #simage1{display: block;}
#sbutton1:checked ~ #sbutton4{display: block;}
#sbutton1:checked ~ .sbutton1-style{background-color:silver;}
#sbutton2:checked ~ #simage2{display: block;}
#sbutton2:checked ~ #sbutton5{display: block;}
#sbutton2:checked ~ #sbutton6{display: block;}
#sbutton2:checked ~ .sbutton2-style{background-color:silver;}
#sbutton3:checked ~ #simage3{display: block;}
#sbutton3:checked ~ #sbutton7{display: block;}
#sbutton3:checked ~ .sbutton3-style{background-color:silver;}

.products-title{
    text-align: center;
    font-weight: normal;
    margin: 0 0 5px 0;
    padding: 0;
    color: var(--pcolor3);
}

.product-item{
    background-color: var(--pcolor1);
    border: 5px solid var(--pcolor1);
    margin: 25px;
    width: 200px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 20px 0 black;
    display: flex;
    flex-direction: column;
    transition-duration: 0.15s;
    position: relative;
}

.product-item a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.product-item img{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    margin: 0 0 10px 0;
    transition-duration: 0.15s;
}

.product-name{
    display: block;
    width: 100%;
    text-align: center;
    margin: auto 0 auto 0;
    padding: 5px 0 5px 0;
    font-size: 140%;
    color: var(--pcolor3);
    font-family: "Dancing Script", cursive;
    align-self: center;
}

.price{
    display: block;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin: auto 0 0 0;
}

.products-more-button{
    font-size: 120%;
    display: block;
    text-align: center;
    width: 80%;
    padding: 3px;
    margin: 5px auto 2px auto;
    border: 2px solid var(--pcolor4);
    background-color: var(--pcolor4);
    transition-duration: 0.2s; 
}

.products-more-button a{
    text-decoration: none;
    color: #444444;
}

.products-more-button:hover{
    background-color: var(--pcolor5);
}

.products-list{
    background-color: var(--pcolor2);
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 5fr));
    margin: 0;
    padding: 20px 0 20px 0;
}

#liquidated-products{
    background-color: var(--pcolor1);
    margin: 80px 200px 0px 200px;
    padding: 0px;
    border: 5px solid var(--pcolor1);
}

#featured-products{
    background-color: var(--pcolor1);
    margin: 40px 20px 0px 20px;
    padding: 0px;
    border: 5px solid var(--pcolor1);
}

@media (max-width: 1000px){
    #about{
        box-shadow: 0px 1vw 2vw 0 gray;
    }

    #about h1{
        margin: 5vw 0 0 0;
        padding: 1vw;
    }
    
    #about hr {
        margin-top: 1vw;
        margin-bottom: 0.5vw;
        border-width: 0.1em;
        height: 0px;
      }
    
    #about p{
        margin: 0 0 0 2vw;
        padding: 4vw;
        border-radius: 2vw;
        text-shadow: 0.5vw 0.25vw 0.5vw var(--pcolor5);
    }

    #slideshow{
        width: 100%;
        height: 70vw;
        margin: 5vw 0 5vw 0;
        padding: 0.2vw 0.2vw 0.2vw 0.2vw;
        border-top: 3vw solid var(--pcolor6);
        border-bottom: 3vw solid var(--pcolor6);
    }
    
    #slideshow-text{
        border: 1.5vw solid var(--pcolor6);
    }
    
    #slideshow-text p{
        margin: 5vw 0 4vw 0;
    }
    
    .product-item{
        border: 0.6vw solid var(--pcolor1);
        margin: 1vw;
        width: 25vw;
        border-radius: 1vw 1vw 0 0;
        box-shadow: 0vw 0vw 1.5vw 0 black;
    }
    
    .product-item img{
        width: 25vw;
        height: 18vw;
        border-radius: 1vw;
        margin: 0 0 1vw 0;
    }
    
    .product-name{
        padding: 1vw 0 1vw 0;
    }
    
    .price{
        padding: 1vw;
        border-radius: 1vw;
    }
    
    .products-more-button{
        font-size: 120%;
        display: block;
        text-align: center;
        width: 80%;
        padding: 0.3vw;
        margin: 0.5vw auto 0.2vw auto;
        background-color: var(--pcolor4);
        transition-duration: 0.2s; 
    }
    
    .products-list{
        grid-template-columns: repeat(auto-fit, minmax(25vw, 5fr));
        padding: 2vw 0 2vw 0;
    }

    #liquidated-products{
        background-color: var(--pcolor1);
        margin: 8vw 5vw 0vw 5vw;
        padding: 0px;
        border: 1vw solid var(--pcolor1);
    }
    
    #featured-products{
        background-color: var(--pcolor1);
        margin: 4vw 2vw 0px 2vw;
        padding: 0px;
        border: 1vw solid var(--pcolor1);
    }
}




