@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{ 
    --pcolor1:#B5CDA3;
    --pcolor2:#C9E4C5;
    --pcolor3:#FAEBE0;
    --pcolor4:#C1AC95;
}

body{
    background-color: var(--pcolor3);
    font-family: "Poppins", monospace;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #444444;
}

/*------------------------------------------------------------------------------------------*/

/*Header start*/
#header{
    background-color:var(--pcolor1); 
    border-bottom: 5px solid var(--pcolor2);
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    z-index: 10;
}

#header #logo{
    position: relative;
    width: 80px;
    height: 80px;
    padding: 5px 8px 5px 5px;
    border-right: 5px solid var(--pcolor1);
    border-bottom: 5px solid var(--pcolor1);
    border-radius: 0 0 15% 0;
    background-color: var(--pcolor2);
}

#header #carrito{
    margin: auto 40px auto auto;
}

#header #carrito img{
    text-decoration: none;
    height: 50px;
    width: 50px;
    color: black;
    background-color:var(--pcolor1);
    font-size: 100%;
    align-self: center;
}

#header navbar{
    align-self: center;
    margin-left: 20px;
}

#header navbar a{
    margin: 20px;
    text-decoration: none;
    color: #444444;
    font-size: 100%;
    align-self: center;
}
/*Header end*/

/*Footer start*/
#footer{
    display: grid;
    margin: 200px 0 0 0;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    background-color: #CCC;
    height: 150px;
    font-size: 80%;
    color: black;
}

#footer #copyright{
    grid-row: 1/2;
    grid-column: 1/2;
    margin: auto;
    top: 20px;
}

#footer #socials{
    margin: auto;
    grid-row: 1/2;
    grid-column: 2/3;
}

#footer #socials img{
    width: 50px;
    height: 50px;
    margin: 10px;
}

#footer #politics{
    text-align: center;
    grid-row: 2/3;
    grid-column: 2/3;
}
/*Footer end*/

/*------------------------------------------------------------------------------------------*/

#about{
    background-color: var(--pcolor4);
    display: flex;
    flex-direction: row;
    box-shadow: 0px 10px 20px 0 gray;
    width: 100%;
}

#about img{
    display: block;
    margin: 40px auto 0px auto;
    padding: 30px;
}

#about p{
    background-color: var(--pcolor3);
    align-self: center;
    margin: 60px 0 0 20px;
    padding: 40px;
    border-radius: 25px;
    text-shadow: 2px 1px 2px var(--pcolor4);
}

#instagram-feed{
    text-align: center;
    width: 100%;
    padding: 50px 0 50px 0;
    margin: 30px 0 30px 0;
    border-top: 4px solid var(--pcolor4);
    border-bottom: 4px solid var(--pcolor4);
}

#liquidated-products{
    background-color: var(--pcolor1);
    margin: 0px 20px 0 20px;
    padding: 0px;
    border: 5px solid var(--pcolor1);
}

#liquidated-products-title{
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

#liquidated-products-more-button{
    font-size: 80%;
    display: block;
    text-align: center;
    width: 50px;
    padding: 3px;
    margin: 0 10px -15px auto;;
    border: 2px solid var(--pcolor4);
    background-color: var(--pcolor3);
    position: relative;
    bottom: 20px;
}

#liquidated-products-list{
    background-color: var(--pcolor2);
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 20px 0 20px 0;
}

.liquidated-product-item{
    background-color: var(--pcolor1);
    border: 5px solid var(--pcolor1);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 20px 0 black;
}

#liquidated-products-list #liquidated-product-name{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
    font-size: 80%;
}

#liquidated-products-list img{
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

.price{
    display: block;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 5px;
    border-radius: 10px;
}
